@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-md px-6 py-2 capitalize bg-primary hover:bg-lightPrimary duration-300 text-white;
    }
    .form-control {
        @apply border border-slate-300 px-2 py-1 rounded outline-0;
    }
}

/* Start Basic Style */
::selection {
    background-color: #09c;
    color: white;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: "Outfit", sans-serif;
    color: rgb(12, 67, 104);
}

.active {
    color: #09c;
    font-weight: 900;
}

input,
textarea {
    transition: box-shadow 300ms;
}

input:focus,
textarea:focus {
    box-shadow: 0px 0px 0px 1px rgba(0, 153, 204, 0.479);
}

.modal {
    backdrop-filter: blur(3px);
}

input[type="range"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: #f0f3f2;
    cursor: pointer;
    box-shadow: none;
    border-radius: 20px;
    padding: 1px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #09c;
}

/* End Basic Style */

/*  Start scroll style */
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar {
    background-color: #f0f3f2;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(3, 130, 172);
    border-radius: 20px;
    border: 3px solid #f0f3f2;
}
/*  End scroll style */

/* Start Category Slider */
body:has(.categorySlider .swiper-button-next:hover)
    .categorySlider
    .right-swiper {
    opacity: 1;
}

body:has(.categorySlider .swiper-button-prev:hover)
    .categorySlider
    .left-swiper {
    opacity: 1;
}
/* End Category Slider */

/* Start Loading */
.preloader {
    --hue: 195;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 100%, 40%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

.preloader {
    text-align: center;
    max-width: 20em;
    width: 100%;
}
.preloader__text {
    position: relative;
    height: 1.5em;
}
.preloader__msg {
    animation: msg 0.3s 13.7s linear forwards;
    position: absolute;
    width: 100%;
}
.preloader__msg--last {
    animation-direction: reverse;
    animation-delay: 14s;
    visibility: hidden;
}
.cart {
    display: block;
    margin: 0 auto 1.5em auto;
    width: 8em;
    height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
    animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
    stroke: var(--primary);
}
.cart__top {
    animation-name: cartTop;
}
.cart__wheel1 {
    animation-name: cartWheel1;
    transform: rotate(-0.25turn);
    transform-origin: 43px 111px;
}
.cart__wheel2 {
    animation-name: cartWheel2;
    transform: rotate(0.25turn);
    transform-origin: 102px 111px;
}
.cart__wheel-stroke {
    animation-name: cartWheelStroke;
}
.cart__track {
    stroke: hsla(var(--hue), 10%, 10%, 0.1);
    transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
    .cart__track {
        stroke: hsla(var(--hue), 10%, 90%, 0.1);
    }
}

/* Animations */
@keyframes msg {
    from {
        opacity: 1;
        visibility: visible;
    }
    99.9% {
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes cartLines {
    from,
    to {
        opacity: 0;
    }
    8%,
    92% {
        opacity: 1;
    }
}
@keyframes cartTop {
    from {
        stroke-dashoffset: -338;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 338;
    }
}
@keyframes cartWheel1 {
    from {
        transform: rotate(-0.25turn);
    }
    to {
        transform: rotate(2.75turn);
    }
}
@keyframes cartWheel2 {
    from {
        transform: rotate(0.25turn);
    }
    to {
        transform: rotate(3.25turn);
    }
}
@keyframes cartWheelStroke {
    from,
    to {
        stroke-dashoffset: 81.68;
    }
    50% {
        stroke-dashoffset: 40.84;
    }
}
/* End Loading */
